body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #4F4F4F;
}

.post {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.button-generic {
    display: inline-block;
    background-color: #1039ee;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.add-book-button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.delete-button {
    background-color: #e80606;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;
}

/* --- add form styles --- */

.add-book-form {
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    align-items: center;
    border: 1px solid #DDD;
    padding: 20px;
    border-radius: 8px;
    max-width: 90%;
    margin: 10px auto;
}

.add-book-form label {
    flex: 1;
    margin-right: 10px;
    font-weight: bold;
}
.add-book-form input,
.add-book-form textarea {
    flex: 2;
    padding: 10px;
    margin-right: 10px;
}