{% extends "base.html" %}

{% block content %}
<div><a class="button-generic" href="{{ url_for('index') }}">Back to Home</a></div>
<form class="add-book-form" method="POST" action="/add">
    <label  for="name">Enter the Book details:</label>
    <input type="text" id="name" name="Author" placeholder="Author" required>
    <input  type="text" id="title" name="Title" placeholder="Title" required>
    <textarea  type="text" id="content" name="Content" placeholder="Content" required></textarea>
    <button class="green-button" type="submit">Submit</button>
</form>

{% endblock %}